


.Hello{
color: rgb(107, 182, 15);
text-shadow:3px 3px 3px;
font-size: 60px;
    }


h1{
    text-align: center;
    color: brown;
    font-family: Helvetica, sans-serif, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px;
}

p{
    text-align: center;
    color: rgb(84, 60, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: italic;
    
}






body{

    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;    
}


.logos{
    display: flex;
    gap: 30px;
    margin:20px;
    justify-content: center;
    align-items: center;
}


.logo{
 box-shadow: 5px 5px 5px;
 border-radius: 50%;  
 border: 5px solid;
justify-content: center;
 align-items: center;
}


